body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainPage {
  background-color: #edf3fb;
  display: flex;
  justify-content: flex-start;
  min-height: 614px;
}
.header {
  background-color: #ffffff;
  color: #6d5fde;
  height: 100%;
}
.form {
  display: none;
}
.new {
  background-color: #fbc234;
}
/* .labels{
  width: 100%;
  margin: auto;
} */
.visible {
  align-items: center;
  align-self: center;
  background-color: black;
  color:blanchedalmond;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  padding: 50px;
  position: fixed;
  width: 40%;
}
.form form {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-evenly;
  padding: 50px;
}
.p input, select {
  width: 80px;
}
.g input {
  width: 290px;
}